<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.waitingroom">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".business.EmployeeDetailActivity"></activity>
        <activity android:name=".administration.CreateEmployeeActivity" />
        <activity android:name=".administration.BusinessDetailActivity" />
        <activity android:name=".administration.BusinessRegistrationActivity" />
        <activity android:name=".customer.PositionInLIneActivity" />
        <activity android:name=".business.RequestDetailActivity" />
        <activity android:name=".business.EmployeeListActivity" />
        <activity android:name=".administration.AdministrationActivity" />
        <activity android:name=".business.EmployeeLoginActivity" />
        <activity android:name=".business.RequestQueueActivity" />
        <activity android:name=".customer.CreateRequestActivity" />
        <activity android:name=".administration.BusinessListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>